.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  align-items: center;
  padding-top: 50px;
}
.footer .socialMediaIcons {
  display: flex;
  gap: 40px;
}
.footer .socialMediaIcons i {
  font-size: 22px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.footer .brandLogo {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.footer .brandLogo img {
  width: 100px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .copyright {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 700;
}